DirectoryIndex default.php index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^rakerdinma/?$ rakerdinma/index.php [L]
  RewriteRule ^rakerdinma/sertifikat/?$ rakerdinma/sertifikat.php [L,QSA]
  RewriteRule ^pesertakerdinma/?$ pesertakerdinma/index.php [L]
  RewriteRule ^dashboard/?$ dashboard/index.php [L]
  RewriteRule ^pemesanan/?$ pemesanan/index.php [L,QSA]
  RewriteRule ^pemesananbuku/?$ pemesananbuku/index.php [L]
  RewriteRule ^dokumentasi/?$ dokumentasi/index.php [L]
  RewriteRule ^pengkinian/?$ pengkinian/index.php [L]
  RewriteRule ^adminpengkinian/?$ adminpengkinian/index.php [L,QSA]
</IfModule>
